* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #0B2434;
  padding: 20px;
  font-family: Karla;
  text-align: center;
}

h1, p{
  margin: 0;
}

main{
  width: 320px;
  height: 320px;
  max-width: 800px;
  padding: 20px;
  border-radius: 10px;
  background: #F5F5F5;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title{
  color: #2B283A;
  font-weight: 700;
  letter-spacing: -0.768px;
  margin-bottom: 5px;
}
.description{
  color: #4A4E74;
  font-family: Inter;
  font-size: 13.107px;
  font-weight: 400;
  letter-spacing: -0.393px;
}

.container{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 18px;
  margin: 25px auto;

}
.die{
  width: 35.84px;
  height: 35.84px;
  border: none;
  border-radius: 3.813px;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  justify-content: center;

  color: #2B283A;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  cursor: pointer;
}

.btn{
  width: 100px;
  height: 35px;
  background-color: #5035FF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.btn:focus {
  outline: none
}

.btn:active{
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}
